*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: black;
}
.main{
       background-image:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/main-image.jpg);
       height: 95vh;
       width: 100%;
       position: relative;
}
.main .box{
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 0;   
}
nav{
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
nav img{
    
    margin-top: 20px;
   font-weight: bold;
   position: relative;
   z-index: 20;
   background-size: cover;
   
   

}
nav button{
     position: relative;
   z-index: 20;
    width: 123px;
   height: 32px;
   font-weight: 400;
   
}
.main-text{
    
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: white;
     gap: 18px;
}
.text1{
     font-size: 60px;
     position: relative;
      color: white;
      text-align: center;
      font-weight: bolder;
}
.text2{
    font-size: 20px;
    font-weight: bold;
}
.text3{
    font-size: 15px;
    font-weight: bold;
}
.curve{
    width: 100%;
    height: 8px;
    background: radial-gradient(circle at top, #141a36 70%, rgb(228, 141, 141) 100%);
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    position: relative;
    
    
}
.curve::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    box-shadow: 10px 10px 30px rgb(78, 166, 196);
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color:white;
    color: black;
}
.btn-red{
    background-color: red;
    border: none;
    border-radius: 7px;
    width: 90px;
    margin-left: 10px;
    color: white;
    
}
.red{
    padding:15px 37px ;
    font-size: 18px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}
.enter{
     padding:14px 34px ;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(23,23,23,0.7);
    border: solid 2px gray;
    color: white;
}
 .sel-btn {
    border: none;
    
    /* width: 100px;
     height: 90px; */
    margin-left: 10px;
    color: white;
     background: transparent;
    background-color: rgba(23,23,23,0.22); 
}
button select{
    border: solid 1px gray;
    background: transparent;
    font-size: 18px;
    color:white;
     padding:6px 20px ;
     border-radius: 6px;

}
.container{
    width:100%;
    height:100%;
    background-color: black;
   

}
.container h2{
    color: #ffffff;
    font-size:40px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
    
}

.cards{
    display: flex;
    
}
.card1 img{
     height: 260px;
     width: 200px;
     /* margin:80px;  */
     margin-top: 30px;
     margin-left: 130px;
     border-radius: 10px;
     border: solid 1px gray;
     margin-right: 30px;  
}
.card2 img{
      height: 260px;
     width: 200px;
      /* margin:80px;  */
       margin-top: 30px;
     margin-left: 80px;
     border-radius: 10px;
     border: solid 1px gray;
     margin-right: 30px;
}
.card3 img{
      height: 260px;
     width: 200px;
      /* margin:80px;  */
       margin-top: 30px;
     margin-left: 80px;
     border-radius: 10px;
     border: solid 1px gray;
     margin-right: 30px;
}
.card4 img{
      height: 260px;
     width: 200px;
      /* margin:80px;  */
       margin-top: 30px;
     margin-left: 80px;
     border-radius: 10px;
     border: solid 1px gray;
     margin-right: 30px;
     
}
 .card1:hover img{
      transform: scale(1.1); 
      box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
      transition: transform 0.10s linear;
}
.card2:hover img{
      transform: scale(1.1); 
      box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
      transition: transform 0.10s linear;
}
.card3:hover img{
      transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
      transition: transform 0.10s linear;
}
.card4:hover img{
      transform: scale(1.1); 
      box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
      transition: transform 0.10s linear;
}
.faq{
    background-color: black;
    color: white;
    padding: 2px;
}
.questionbox:hover {
     background-color: rgb(58, 56, 56);
}
.questionbox{
    background-color: gray;
    padding: 15px;
    margin:  20px auto;
    width: 800px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.faq h2{
    margin-left: 270px;
    font-size: 35px;
    
}
.faq i{
    color: black;
}
.footerbox {
    margin-top: 40px;   
    padding: 20px 0; 
}
.heading{
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.ready{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   

}
.footeremail{
    padding:12px 130px ;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(23,23,23,0.7);
    border: solid 2px gray;
    color: white;
}
.footerbtn{
    background-color: red;
    border: none;
    border-radius: 7px;
    width: 160px;
    height: 50px;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
.footer {
  background: #000;
  color: #757575;
  padding: 40px 15%;
  font-size: 18px;
}

.footer a {
  color: #757575;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-top {
  margin-bottom: 20px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-lang select {
  background:black;
  color:white;
  border: 1px solid #757575;
  border-radius: 5px;
  padding: 10px 25px;
  margin-bottom: 20px;
}

.footer-country {
  margin-top: 10px;
}
.footer a{
    text-decoration: underline;
}
p{
    margin-top: 25px;
}
p span{
    color: rgb(5, 115, 151);
    text-decoration: underline;
}
